@font-face {
    font-family: Air-Travel;
    src: url('./assets/air-travelers-font/AirtravelerspersonaluseBdit-gxgyE.otf');
}
@font-face {
    font-family: Coolvetica;
    src: url('./assets/coolvetica/coolvetica\ rg.otf');
}

h2{
   font-family: Coolvetica; 
   font-size: 50px;
   color: #f5da42;
}


body{
    background-color: rgb(22, 24, 10);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    color: #f5da42;
    font-family: Coolvetica; 
    font-size: 30px;
}

input{
    font-family: Coolvetica;
    font-size: 30px
}

.box {
    background-color: #f5da42;
    color: rgb(22, 24, 10); 
}
::placeholder{
    color: rgb(22, 24, 10); 
}

.button-74 {
  background-color: #f5da42;
  border: 2px solid rgb(22, 24, 10);
  border-radius: 30px;
  box-shadow: #6a6403 4px 4px 0 0;
  color: rgb(22, 24, 10);
  cursor: pointer;
  font-weight: 600;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #f9f7bd;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}